<div class="background-image-top"></div>
<div class="background-image-bottom"></div>



<div class="container">
    <div class="row mb-3" style="margin-top:200px;">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <div class="text-field">
                    <label for="username" class="label-text">Usuario</label>
                    <input type="text" id="username" class="input-text">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <div class="text-field">
                    <label for="password" class="label-text">Contraseña</label>
                    <input type="password" id="password" class="input-text">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="button-group">
                <button class="button default" routerLink="/home">Iniciar Sesión</button>
                <button class="button default">Registrarse</button>
            </div>
        </div> 
    </div>

    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="text">
                <a routerLink="/olvido-contrasenia">
                    Olvidó su contraseña? Recupérala aquí
                </a>
            </div>
        </div>
    </div>
</div>