/* You can add global styles to this file, and also import other style files */

.sub-titulo-app-web {
    color: var(--Negro, #000);

/* Texto Normal APP WEB */
font-family: Comme;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.titulo-app-web-home {
    color: var(--Schemes-On-Surface, #1D1B20);
    font-family: "DM Serif Display";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-transparent {
    background-color: transparent; /* Transparent background */
    color: white; /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center text */
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
