<div class="background-image-top"></div>
<div class="background-image-bottom"></div>


<div class="container">
    <div class="row mb-3" style="margin-top:200px;">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="text">
                <a>
                    Cambio de Contraseña
                </a>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <div class="text-field">
                    <label for="new_pass" class="label-text">Digite la nueva contraseña</label>
                    <input type="text" id="new_pass" class="input-text">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <div class="text-field">
                    <label for="new_pass_conf" class="label-text">Confirme la nueva contraseña</label>
                    <input type="text" id="new_pass_conf" class="input-text">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <div class="text-field">
                    <label for="codigo" class="label-text">Codigo recibido al correo</label>
                    <input type="text" id="codigo" class="input-text">
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="button-group">
                <button class="button default" routerLink="/home">Cambiar Contraseña</button>
            </div>
        </div> 
    </div>
</div>