:host {
    display: block;
    min-height: 100vh; /* Ensure it covers the entire viewport height */
    background-image: url('/../../assets/Background Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
  }

  .central-window {
    position:absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    max-width: 800px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }

  .header {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-left, .header-right {
    display: flex;
    align-items: center;
  }

  .icon {
    margin-right: 10px;
  }

  .content {
    background-color: white;
    min-height: 500px;
    padding: 20px;
  }

  .home-text-window {
    width: 350px;
    height: 300px;
    flex-shrink: 0;
    border: 10px solid #FFA500;
  }

  .container {
    min-height: auto;
    height: auto;
    align-items: stretch;
    justify-items: normal;
    margin-top: 0;
    width: auto;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
  }

  /* Remove borders from the table */
.table {
  border-collapse: collapse; /* Ensure borders are collapsed */
}

/* Remove borders from table rows */
.table th, 
.table td {
  border: none; /* Remove borders from header and cells */
}

.special-row {
  margin-bottom: 100 px; /* Uncomment this line if you want space between rows */
}

.table td {
  padding: 15px; /* Adjust padding as needed */
}

.form-check-input:checked {
  background-color: black; /* Checkbox background when checked */
  border-color: white; /* Checkbox border when checked */
}
.form-check-input {
  background-color: black; /* Checkbox background when unchecked */
  border: 1px solid white; /* Checkbox border color */
}

.circle {
  display: inline-flex; /* Use inline-flex for centering */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  width: 40px; /* Set width for the circle */
  height: 40px; /* Set height for the circle */
  border-radius: 50%; /* Make it a circle */
  background-color: grey; /* Circle background color */
  color: black; /* Text color */
  font-weight: bold; /* Text weight */
}