<div class="central-window">
  <div class="header">
    <div class="header-left">
      <span class="icon">⏱️</span>
      <span><button class="button-transparent">Mis Rutinas</button></span>
    </div>
    <div class="header-right">
      <span class="icon">⚙️</span>
      <span><button class="button-transparent">Configuración</button></span>
    </div>
  </div>
  <div class="content">
    <div class="container">
      
      <div class="row">
        <div class="col-12" >
           <p>
            Hola, aquí puedes elegir si quieres que la alarma suene incluso en días festivos.
            </p>
            <p>
            Por favor, selecciona tu país de residencia
            </p>
            <button mat-raised-button color="primary">España</button>
            
        </div>
      </div>

    </div>
  </div>
</div>