<div class="background-image-top"></div>
<div class="background-image-bottom"></div>

<div class="container">
    <div class="row mb-3" style="margin-top:200px;">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
            <div class="text">Recuperar Contraseña</div>
    </div>
    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="form-group">
                <div class="text-field">
                    <label for="email" class="label-text">E-mail</label>
                    <input type="text" id="emai;" class="input-text">
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <div class="button-group">
                <button class="button default" routerLink="/reestablecer-contrasenia">Enviar Contraseña</button>
            </div>
        </div> 
    </div>

</div>