<div class="central-window">
  <div class="header">
    <div class="header-left">
      <span class="icon">⏱️</span>
      <span>Mis Rutinas</span>
    </div>
    <div class="header-right">
      <span class="icon">⚙️</span>
      <span>Configuración</span>
    </div>
  </div>
  <div class="content">
    <div class="container">
      
      <div class="row">
        <div class="col-6 text-center" >
          parte 1
        </div>
        <div class="col-6 text-center" >
            <img src='/../../assets/Panel derecho web home.png' alt="background" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>