<div class="central-window">
  <div class="header">
    <div class="header-left">
      <span class="icon">⏱️</span>
      <span>Mis Rutinas</span>
    </div>
    <div class="header-right">
      <span class="icon">⚙️</span>
      <span>Configuración</span>
    </div>
  </div>
  <div class="content">
    <div class="container">
      
      <div class="row">
        <div class="col-6 text-center" >
          <div class="home-text-window">
           <p class="titulo-app-web-home">
            Hola Amigo! 
            </p>
            <p class="sub-titulo-app-web">
            ¡Bienvenido a MI ALARMA!
            Esta es tu aplicación para empezar el día de la mejor manera. Crea tus propias alarmas y rutinas para despertar, vestirte y estar listo para la escuela.
            </p>
            <p class="sub-titulo-app-web">
            Elige entre divertidos personajes y sonidos para despertar con una sonrisa. Y crea tus propias rutinas para hacer ejercicio, leer un libro o practicar un instrumento.
          </p>
          </div>
        </div>
        <div class="col-6 text-center" >
            <img src='/../../assets/Panel derecho web home.png' alt="background" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</div>