<div class="central-window-container">
<div class="central-window">
  <div class="header">
    <div class="header-left">
      <span class="icon">⏱️</span>
      <span><button class="button-transparent">Mis Rutinas</button></span>
    </div>
    <div class="header-right">
      <span class="icon">⚙️</span>
      <span><button class="button-transparent" routerLink="/configuracion">Configuración</button></span>
    </div>
  </div>
  <div class="content">
    <div class="container">
      
      <div class="row">
        <div class="col-5 text-center" >
          <div class="home-text-window">
           <p class="titulo-app-web-home">
            Hola Amigo! 
            </p>
            <p class="sub-titulo-app-web">
            ¡Bienvenido a MI ALARMA!
            Esta es tu aplicación para empezar el día de la mejor manera. Crea tus propias alarmas y rutinas para despertar, vestirte y estar listo para la escuela.
            </p>
            <p class="sub-titulo-app-web">
            Elige entre divertidos personajes y sonidos para despertar con una sonrisa. Y crea tus propias rutinas para hacer ejercicio, leer un libro o practicar un instrumento.
          </p>
          </div>
        </div>
        <div class="col-7 text-center" >
            <img src='/../../assets/Panel derecho web home.png' alt="background" class="right-image">
        </div>
      </div>

    </div>
  </div>
</div>
</div>