:host {
    display: block;
    min-height: 100vh; /* Ensure it covers the entire viewport height */
    background-image: url('/../../assets/Background Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0;
  }